/* Style global */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    transition: background-color 0.6s, color 0.6s, border-color 0.6s;
    scroll-behavior:smooth;
}

:root {
--first-color: salmon ; 
--title-color: #333; 
--title-color-inverse: #333;
--text-color: #333; 
--text-color-light: #898989;
--background-color: white;
--white:white;

--swiper-navigation-color: var(--white);
--swiper-pagination-color: var(--white);


--h3-font-size: 1.17em;
--text-font-size: 16px;

}

body.dark-theme {
    --first-color: #666666; 
    --title-color: #f2f2f2; 
    --title-color-inverse: white;
    --text-color: #b3b3b3; 
    --text-color-light: #898989;
    --background-color: #333;
    --white: white;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: var(--background-color);   
    overflow-x: hidden; 
}

ul li a {
  text-decoration: none;
  color: var(--background-color);
  transition: color 0.3s;
}

body.dark-theme ul li a {
  color: var(--title-color);
}

ul li a:hover {
  color: var(--first-color);
}

ul li {
  list-style: none;
}

ul{
  display: flex;

}

h1 {
  font-size: 80px;
}

/* +++++++++++++++++++++++++++++++++++++ Trucs stylés +++++++++++++++++++++++++++++++++++++++ */


::selection{
    background-color: var(--first-color);
}

.anim.anim-bottom {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .anim.anim-bottom.visible {
    opacity: 1;
    transform: translateY(0);
  }

.anim.anim-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 1s ease;
    }

    .anim.anim-left.visible {
        opacity: 1;
        transform: translateX(0);
    }

.anim.anim-right {
    opacity: 0;
    transform: translateX(+100%);
    transition: opacity 0.5s ease, transform 1s ease;
    }

    .anim.anim-right.visible {
        opacity: 1;
        transform: translateX(0);
    }

.anim.anim-zoom {
    transform: scale(0);
    transition: transform 1s ease;
    }

    .anim.anim-zoom.visible {
        transform: scale(100%);
    }

.scroll-top {
    position: fixed;
    color: var(--white);
    border-radius: 4px;
    padding: 10px 16px;
    bottom: 20px;
    right: 20px;
    background-color: var(--first-color);
    border: solid 1px var(--white);
}

.scroll-top:hover {
    color: var(--first-color);
    background-color: var(--white);
    border-color: var(--first-color);
}

/* +++++++++++++++++++++++++++++++++++++ Navbar +++++++++++++++++++++++++++++++++++++++ */

h2 .inverse{
    color: var(--title-color-inverse);
}


#nav-mobile{
  display: none;
}

header {
    position: absolute;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: center;
    /* background-color: #222222; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    color: var(--text-color);
  }
  
  .theme-buttons {
    display: flex;
    gap: 10px;
  }
  
  .theme-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; 
    color: var(--white); 
    padding: 0.5rem;
    transition: color 0.1s;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    
}

.theme-buttons button:hover {
    color: var(--first-color); 
}

.theme-buttons i {
    transition: color 0.1s;
}

.cv-button button:hover {
    color: var(--first-color);
}
  
  nav ul {
    gap: 20px;
  }

  nav ul li {
    padding: 0 15px;
}
  
  nav ul li a {
    font-size: 22px;
  }

a i, button i{
    transition: color 0s;
}

/*+++++++++++++++ Différentes section ++++++++++++++++ */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ++++++++++++++++++++ Première page ++++++++++++++++++++ */

#firstpage {
    position: relative; /* Permet de positionner des éléments en absolu par rapport à cette section */
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/BackgroundGlacier.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column; /* Dispose les enfants verticalement */
    justify-content: center; /* Centrage vertical de .name */
    align-items: center; /* Centrage horizontal */
    }

h1 {
    color: var(--white);
    text-align: center;
    margin: 0;
}

.name {
    text-align: center;
}

.name h2 {
    font-size: 40px;
    margin: 0;
    color: var(--first-color);
}

.dark-theme .name h2 {
    color: lightblue;
}

.pp {
    position: absolute; 
    bottom: -150px; /* Fait dépasser .pp de moitié (150px sur 300px de hauteur) */
    z-index: 9; /* Assure que .pp soit visible par-dessus le fond */
}

#pp {
    width: 300px;
    height: 300px;
    background-color: var(--first-color);
    border-radius: 50%;
    background-image: url('assets/PP.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border: 8px solid var(--background-color);
}

.dark-theme #pp {
    background-color: lightskyblue;
}

/* ++++++++++++++++++++++++++ A propos de moi +++++++++++++++++++++ */

#aboutme {
    background-color: var(--background-color);
    padding: 60px;
    color: var(--text-color);
    line-height: 1.8;
    text-align: center;
}

#aboutme h2 {
    color: var(--title-color-inverse);
}

.about-content {
    max-width: 1000px;
    margin: auto;
}

.about-text {
    font-size: var(--text-font-size);
}

.about-quote blockquote {
    /* font-style: italic; */
    /* color: #555; */
    margin: 20px 0;
    font-size: 20px;
    background-color: var(--first-color);
    color: white;
    font-size: var(--text-font-size);
}

.about-extra h3 {
    margin-top: 40px;
    color: var(--first-color);
}

.extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 20rem 1rem 20rem;
}

.extra div {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    width: 20%;
    border-radius: 15px;
    padding:10px;
    text-align: center;
}

.extra div .img {
    font-size: 60px;
    padding:0px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ Design ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.project-section {
    background-color: var(--background-color);
    padding: 40px;
    text-align: center;
}
.project-section.reverse {
    background-color: var(--first-color) !important;
}
  
  .project-section h2{
    color: var(--first-color);
  }
  .project-section.reverse h2{
    color: var(--white) !important;
  }
  .project-section-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    gap: 0.5em;
  }
  .project-section-container img{
    max-width: 100%;
    max-height: 100%;
  }
  .project-section-img-pc, .project-section-img-mobile, .project-section-text{
    flex: fit-content;
  }
  .project-section-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.7em 1em 1em;
    background-color: var(--first-color);
    margin-right: 4px;
    border-radius: 15px;
    color: var(--white);
  }
  .project-section.reverse .project-section-text{
    background-color: var(--white) !important;
    color: #222222 !important;
    margin-left: 4px !important;
    margin-right: 0 !important;
  }
  .project-section p {
    margin: 0.25em;
    text-align: justify;
  }
  .project-section h4 {
    margin: 0.5em;
  }

  /* ++++++++++++++++++++++++++++++++++++++++++++++++++++ Contact +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#contact {
    padding: 40px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;  
}

.contact-section {
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.contact-section h2 {
    color: var(--title-color);
    margin-bottom: 20px;
}

.contact-section p {
    font-size: var(--text-font-size);
    margin-bottom: 30px;
}

.contact-form {
    flex: 1;
    max-width: 50%;
    margin: 0 auto;
    text-align: left; 
    border-right: solid 1px var(--first-color);
    padding-right: 7%;
}

.map-container {
    flex: 1;
    max-width: 35%;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--title-color);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--first-color);
}

.submit-btn {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid 1px var(--first-color);
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--first-color);
    border: solid 1px var(--first-color);
}

.map-container img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s;

}

.map-container img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.social-links {
    margin-top: 30px;
}

.social-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.social-link:hover {
    color: var(--first-color);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Footer +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

footer {
  background-color: #222222;
  color: var(--white);
  text-align: center;
  padding: 20px 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
  }

.footer .info {
  flex: 1;
  align-content: center;
}

.footer .info h4 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer .info p {
  margin: 5px 0;
  font-size: 16px;
}

.footer .info .download-cv {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--white);
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer .info .download-cv:hover {
  background-color: var(--white);
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.footer .plan {
  flex: 2;

}

.footer .plan ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 10px;
}

.footer .plan ul li {
  font-size: 18px;
}


.copyright {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
